<section class="about">
  <div class="about__background">
    <div class="container">
      <h2 class="about__title">Компания Техбаза</h2>
      <ul class="about__list">
        <li class="about__list-item">
          <strong class="about__list-title">Более 10 лет  на российском рынке</strong>
          <p class="about__list-descr">
            Официальный дилер специализированной техники ведущих мировых
            производителей для строительной, коммунальной, и других промышленных
            областей
          </p>
        </li>
        <li class="about__list-item">
          <strong class="about__list-title">Комплекс услуг</strong>
          <p class="about__list-descr">
            Продажа спецтехники Навесное оборудование и запчасти. Стационарное
            и выездное сервисное обслуживание 24/7
          </p>
        </li>
        <li class="about__list-item">
          <strong class="about__list-title">Дополнительные сервисы</strong>
          <p class="about__list-descr">
            Trade in, комиссия Финансирование покупки юридическим и физическим
            лицам
          </p>
        </li>
      </ul>
      <img class="about__slogan" src="/img/about/about-brands-title.svg" alt="Успех - дело спецтехники">
      <ul class="about__brands">
        <li class="about__brands-item">
          <a href="#" class="about__brands-link"> XGMA </a>
        </li>
        <li class="about__brands-item">
          <a href="#" class="about__brands-link"> Wacker Neuson </a>
        </li>
        <li class="about__brands-item">
          <a href="#" class="about__brands-link"> Weidemann </a>
        </li>
        <li class="about__brands-item">
          <a href="#" class="about__brands-link"> Lonking </a>
        </li>
        <li class="about__brands-item">
          <a href="#" class="about__brands-link"> Beeezone </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="about__desktop">
    <div class="container">
      <div class="about__content">
        <div class="about__col">
          <img src="/img/about/about-col-1.jpg" alt="фото в первой колонке">
          <p>
            Компания «ТЕХБАЗА» основана в 2014 году, является поставщиком
            специализированной техники ведущих мировых производителей для
            строительной, коммунальной и других промышленных областей. В России
            ТЕХБАЗА является официальным дилером спецтехники XGMA (КНР), Wacker
            Neuson (Германия), Weidemann (Австрия), Lonking (КНР). В наличии
            всегда самые востребованные в работе модели спецтехники: фронтальные
            погрузчики, минипогрузчики, экскаваторы, миниэкскаваторы, катки,
            грейдеры. Также мы осуществляем подбор техники по запросу клиента.
            Наши сервисные мощности позволяют выполнять работы по диагностике и
            капитальному ремонту строительной техники.
          </p>
        </div>
        <div class="about__col">
          <p>
            В полный комплекс услуг для наших клиентов входит аналитика их
            производственных задач с последующей профессиональной рекомендацией
            необходимого типа спецтехники, ее прямой поставки с завода
            изготовителя на строительный объект и дальнейшую сервисную поддержку
            24/7, включая гарантийные обязательства и бесперебойное обеспечение
            оригинальными запасными частями.
          </p>
          <img src="/img/about/about-col-2.jpg" alt="фото в второй колонке">
        </div>
        <div class="about__col">
          <img src="/img/about/about-col-3.jpg" alt="фото в третьей колонке">
          <p>
            Сервисные механики аттестованы производителями, имеют
            сертифицированное программное обеспечение, а отдел запасных частей
            оперативно обеспечивает оригинальными комплектующими. Мы работаем по
            всем регионам России и осуществляем полный логистический сервис по
            доставке спецтехники по запросу клиента. Постоянные клиенты и
            партнеры компании – крупные дорожностроительные компании,
            коммунальные организации и частные предприниматели.
          </p>
          <img src="/img/about/about-col-4.jpg" alt="фото в третьей колонке">
        </div>
      </div>
      <div class="about__brands-images">
        {{> brands }}
      </div>
      <div class="content-center">
        <a href="#" class="btn-dark">Показать ещё</a>
      </div>
    </div>
  </div>
</section>