<ul class="brands">
    <li class="brands__item">
        <a href="#" class="brands__link" style="--image: url('/img/brands-list/item-hover1.png');">
            <img class="brands__img" src="/img/brands-list/item1.png" alt="some brand">
        </a>
    </li>
    <li class="brands__item">
        <a href="#" class="brands__link" style="--image:  url('/img/brands-list/item-hover2.png');">
            <img class="brands__img" src="/img/brands-list/item2.png" alt="some brand">
        </a>
    </li>
    <li class="brands__item">
        <a href="#" class="brands__link" style="--image:  url('/img/brands-list/item-hover3.png');">
            <img class="brands__img" src="/img/brands-list/item3.png" alt="some brand">
        </a>
    </li>
    <li class="brands__item">
        <a href="#" class="brands__link" style="--image:  url('/img/brands-list/item-hover4.png');">
            <img class="brands__img" src="/img/brands-list/item4.png" alt="some brand">
        </a>
    </li>
</ul>