<ol class="breadcrumbs">
    <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="/">Главная</a>
    </li>
    <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="/catalog.html">Каталог</a>
    </li>
    <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="/catalog-section.html">Фронтальные погрузчики</a>
    </li>
    <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="/product.html">XGMA XG931N</a>
    </li>
    <!-- <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Бульдозер XGMA XG4161L</span>
    </li> -->
</ol>