<section class="contacts">
  <div class="container w-full contacts__grid">
    <h2 class="title-small contacts__title">Связаться с нами</h2>
    <article class="contacts__elem">
      <div class="contacts__elem-data">
        <h3 class="contacts__elem-title">Главный офис:</h3>
        <address class="contacts__elem-address">
          <a class="contacts__elem-link" href="{{ map-link }}">Москва, проезд Русанова д.2</a>
          <a class="contacts__elem-tel" href="tel:84959236636">8 (495) 923 66 36</a>
          <a class="contacts__elem-email" href="malito:pe@texbaza.com">pe@texbaza.com</a>
        </address>
      </div>
      <a href="{{ map-link }}" rel="nofollow" class="contacts__elem-map">
        <img src="/img/maps/map1.jpg" class="contacts__elem-img" alt="Главный офис посмотреть на яндекс карте"
          title="Посмотеть Главный офис на яндекс карте" loading="lazy">
      </a>
    </article>
    <article class="contacts__elem">
      <div class="contacts__elem-data">
        <h3 class="contacts__elem-title">Демонстрационная площадка, складские помещения запчастей.</h3>
        <address class="contacts__elem-address">
          <a class="contacts__elem-link" href="{{ map-link }}">Москва, Ярославское шоссе, д.2Е</a>
          <a class="contacts__elem-email" href="malito:pe@texbaza.com">pe@texbaza.com</a>
        </address>
      </div>
      <a href="{{ map-link }}" rel="nofollow" class="contacts__elem-map">
        <img src="/img/maps/map2.jpg" class="contacts__elem-img" alt="Главный офис посмотреть на яндекс карте"
          title="Посмотеть Главный офис на яндекс карте" loading="lazy">
      </a>
    </article>
    <article class="contacts__elem">
      <div class="contacts__elem-data">
        <h3 class="contacts__elem-title">Офис в Санкт-Петербурге:</h3>
        <address class="contacts__elem-address">
          <a class="contacts__elem-link" href="{{ map-link }}">Пушкинский район, пос. Шушары, ул. Поселковая д.3, стр.1
            оф. 32</a>
          <a class="contacts__elem-email" href="malito:pe@texbaza.com">pe@texbaza.com</a>
        </address>
      </div>
      <a href="{{ map-link }}" rel="nofollow" class="contacts__elem-map">
        <img src="/img/maps/map3.jpg" class="contacts__elem-img" alt="Главный офис посмотреть на яндекс карте"
          title="Посмотеть Главный офис на яндекс карте" loading="lazy">
      </a>
    </article>
    <article class="contacts__elem">
      <div class="contacts__elem-data">
        <h3 class="contacts__elem-title">Офис на Урале:</h3>
        <address class="contacts__elem-address">
          <a class="contacts__elem-link" href="{{ map-link }}">Свердловская область, г. Екатеринбург, ЕКАД, 5-й
            километр, 6, офис 209.</a>
          <a class="contacts__elem-email" href="#">Тел.: +7(343) 328-00-54</a>
          <a class="contacts__elem-email" href="malito:pe@texbaza.com">pe@texbaza.com</a>
        </address>
      </div>
      <a href="{{ map-link }}" rel="nofollow" class="contacts__elem-map">
        <img src="/img/maps/map3.jpg" class="contacts__elem-img" alt="Главный офис посмотреть на яндекс карте"
          title="Посмотеть Главный офис на яндекс карте" loading="lazy">
      </a>
    </article>
  </div>
</section>