<section class="preview-products">
  <div class="container">
    <h2 class="preview-products__title">Качество, в котором мы уверены</h2>

    <article class="preview-products__cat">
      <h3 class="preview-products__cat-title">
        <span>Фронтальные</span>
        <span>погрузчики</span>
      </h3>
      <div class="preview-products__elems">
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">
            XGMA XG931N XGMA XG931N XGMA XG931N
          </h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Страна производитель:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    Китай
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">XGMA XG931N</h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <a href="#" class="preview-products__elem-btn">Уточнить цену</a>
            <a href="#" class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </a>
          </div>
        </article>
      </div>
      <div class="content-center">
        <button class="btn-dark">Показать ещё</button>
      </div>
    </article>

    <article class="preview-products__cat">
      <h3 class="preview-products__cat-title">
        <span>Экскаватор</span>
      </h3>
      <div class="preview-products__elems">
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">
            XGMA XG931N XGMA XG931N XGMA XG931N
          </h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Страна производитель:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    Китай
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">XGMA XG931N</h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
      </div>
      <div class="content-center">
        <button class="btn-dark">Показать ещё</button>
      </div>
    </article>

    <article class="preview-products__cat">
      <h3 class="preview-products__cat-title">
        <span>Грейдеры</span>
      </h3>
      <div class="preview-products__elems">
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">
            XGMA XG931N XGMA XG931N XGMA XG931N
          </h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Страна производитель:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    Китай
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">XGMA XG931N</h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
      </div>
      <div class="content-center">
        <button class="btn-dark">Показать ещё</button>
      </div>
    </article>

    <article class="preview-products__cat">
      <h3 class="preview-products__cat-title">
        <span>Мини-</span>
        <span>экскаваторы</span>
      </h3>
      <div class="preview-products__elems">
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">
            XGMA XG931N XGMA XG931N XGMA XG931N
          </h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Страна производитель:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    Китай
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">XGMA XG931N</h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
      </div>
      <div class="content-center">
        <button class="btn-dark">Показать ещё</button>
      </div>
    </article>

    <article class="preview-products__cat">
      <h3 class="preview-products__cat-title">
        <span>Мини-</span>
        <span>погрузчики</span>
      </h3>
      <div class="preview-products__elems">
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">
            XGMA XG931N XGMA XG931N XGMA XG931N
          </h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Страна производитель:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    Китай
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">XGMA XG931N</h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
      </div>
      <div class="content-center">
        <button class="btn-dark">Показать ещё</button>
      </div>
    </article>

    <article class="preview-products__cat">
      <h3 class="preview-products__cat-title">
        <span>Дорожные</span>
        <span>катки</span>
      </h3>
      <div class="preview-products__elems">
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">
            XGMA XG931N XGMA XG931N XGMA XG931N
          </h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Страна производитель:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    Китай
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">XGMA XG931N</h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
      </div>
      <div class="content-center">
        <button class="btn-dark">Показать ещё</button>
      </div>
    </article>

    <article class="preview-products__cat">
      <h3 class="preview-products__cat-title">
        <span>Экскаваторы-</span>
        <span>погрузчики</span>
      </h3>
      <div class="preview-products__elems">
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">
            XGMA XG931N XGMA XG931N XGMA XG931N
          </h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Страна производитель:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    Китай
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">XGMA XG931N</h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
      </div>
      <div class="content-center">
        <button class="btn-dark">Показать ещё</button>
      </div>
    </article>

    <article class="preview-products__cat">
      <h3 class="preview-products__cat-title">
        <span>Телескопические</span>
        <span>погрузчики</span>
      </h3>
      <div class="preview-products__elems">
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">
            XGMA XG931N XGMA XG931N XGMA XG931N
          </h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Страна производитель:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    Китай
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
        <article class="preview-products__elem">
          <img src="/img/preview-product.jpg" alt="product alt" class="preview-products__img" loading="lazy">
          <h4 class="preview-products__elem-title">XGMA XG931N</h4>
          <div class="preview-products__body">
            <table class="preview-products__table">
              <tbody class="preview-products__table-body">
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">
                    Грузоподъёмность:&nbsp;
                  </td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    3,1 тонны
                  </td>
                </tr>
                <tr class="preview-products__table-row">
                  <td class="preview-products__table-td">Объём ковша:&nbsp;</td>
                  <td class="preview-products__table-td preview-products__table-td--last">
                    2м3
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="preview-products__bottom">
            <button class="preview-products__elem-btn">Уточнить цену</button>
            <button class="preview-products__elem-btn preview-products__elem-btn--dark">
              Купить в лизинг
            </button>
          </div>
        </article>
      </div>
      <div class="content-center">
        <button class="btn-dark">Показать ещё</button>
      </div>
    </article>
    <div class="preview-products__brands">
      {{> brands}}
    </div>
    <div class="content-center">
      <button class="btn-dark">Показать ещё</button>
    </div>
  </div>
</section>