<section class="product-form">
    <h2 class="product-form__title">
        Выгодный<br>Trade-in
    </h2>
    <p class="product-form__descr">
        Оценим вашу технику за 10 минут<br> 
        и  расскажем об акционных предложениях
    </p>
    <form class="product-form__form">
        <div class="product-form__row">
            <input class="product-form__input" type="text" placeholder="Имя">
            <input class="product-form__input" type="tel" placeholder="Телефон">
        </div>
        <div class="product-form__row">
            <input class="product-form__input product-form__email" type="email" placeholder="Email">
            <button class="product-form__submit">Отправить</button>
        </div>
        <label class="product-form__policy">
            <input class="product-form__policy-checkbox" type="checkbox">Нажимая кнопку <span class="product-form__policy-accent">«Отправить»</span>, Вы соглашаетесь с политикой конфиденциальности и <a class="product-form__policy-link" href="#">правилами обработки персональных данных</a>
        </label>
    </form>
</section>