<section class="product-partners">
    <h2 class="title-small product-partners__title">Наши ключевые<br>партнёры</h2>
    <ul class="product-partners__list">
        <li class="product-partners__item">
            <p class="product-partners__descr">
                <img class="product-partners__img" src="./img/partners/item1.png" alt="Логотип партнёра">
                <span class="product-partners__name">ООО «ДСК»</span>
            </p>
        </li>
        <li class="product-partners__item">
            <p class="product-partners__descr">
                <img class="product-partners__img" src="./img/partners/item2.png" alt="Логотип партнёра">
                <span class="product-partners__name">ООО «МФС-6»</span>
            </p>
        </li>
        <li class="product-partners__item">
            <p class="product-partners__descr">
                <img class="product-partners__img" src="./img/partners/item3.png" alt="Логотип партнёра">
                <span class="product-partners__name">ПАО «Газпром»</span>
            </p>
        </li>
        <li class="product-partners__item">
            <p class="product-partners__descr">
                <img class="product-partners__img" src="./img/partners/item4.png" alt="Логотип партнёра">
                <span class="product-partners__name">ПАО «Сбербанк»</span>
            </p>
        </li>
        <li class="product-partners__item">
            <p class="product-partners__descr">
                <img class="product-partners__img" src="./img/partners/item5.png" alt="Логотип партнёра">
                <span class="product-partners__name">ООО «ТСМ»</span>
            </p>
        </li>
        <li class="product-partners__item">
            <p class="product-partners__descr">
                <img class="product-partners__img" src="./img/partners/item6.png" alt="Логотип партнёра">
                <span class="product-partners__name">ООО «Руслан-1»</span>
            </p>
        </li>
    </ul>
</section>