<div class="product-page__product">
    {{> breadcrumbs }}
    <div class="product-page__top">
        <h1 class="title product-page__title">XGMA XG931N</h1>
        <div class="product-page__availability">
            В наличии
        </div>
        <a class="product-page__model" href="#">
            <img class="product-page__model-img" src="./img/brands-list/item-hover1.png" alt="xgma" />
        </a>
    </div>
    <p class="product-page__cat">
        Фронтальный погрузчик
    </p>
    <div class="row">
        <div class="product-page__trambail">
            <div class="swiper product-page__trambail-main">
                <div class="swiper-wrapper">
                    {{#repeat 4}}
                    <div class="swiper-slide">
                        <img class="product-page__trambail-img" src="./img/product-page-slider/item1.jpg" alt="item1">
                    </div>
                    {{/repeat}}
                </div>
                <div class="product-page__trambail-pagination"></div>
            </div>
            <div class="swiper product-page__trambail-nav">
                <div class="swiper-wrapper product-page__trambail-track">
                    {{#repeat 4}}
                    <button class="swiper-slide product-page__trambail-elem" title="Перейти на слайд">
                        <img class="product-page__trambail-img" src="./img/product-page-slider/item1.jpg" alt="item1" />
                    </button>
                    {{/repeat}}
                </div>
            </div>
            <div class="product-page__video">
                <button class="product-page__video-btn">Видеообзор</button>
            </div>
        </div>
        <div class="product-page__info">
            <button class="product-page__btn-price">
                <span>уточнить цену</span>
            </button>
            <button class="product-page__btn-lizing">
                <span>Купить в лизинг</span>
            </button>
            <section class="product-page__specifications">
                <p class="product-page__specifications-country">
                    Страна производитель: Китай
                </p>
                <p class="product-page__specifications-speed">
                    38 км/ч
                </p>
                <h3 class="product-page__specifications-title">
                    Характеристики:
                </h3>
                <table class="product-page__table">
                    <tbody class="product-page__table-body">
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Эксплуатационная масса</td>
                            <td class="product-page__table-elem--bold">10,4 тонны</td>
                        </tr>
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Грузоподъёмность:</td>
                            <td class="product-page__table-elem--bold">3,1 тонны</td>
                        </tr>
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Модель двигателя:</td>
                            <td class="product-page__table-elem--bold">Yuchai (лицензия FEV Германия)</td>
                        </tr>
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Мощность двигателя:</td>
                            <td class="product-page__table-elem--bold">92/125</td>
                        </tr>
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Привод:</td>
                            <td class="product-page__table-elem--bold">полный</td>
                        </tr>
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Джойстиковое управление:</td>
                            <td class="product-page__table-elem--bold">да</td>
                        </tr class="product-page__table-row">
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Кондиционер:</td>
                            <td class="product-page__table-elem--bold">да</td>
                        </tr>
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Объем ковша:</td>
                            <td class="product-page__table-elem--bold">2 м<sup>3</sup></td>
                        </tr>
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Высота разгрузки:</td>
                            <td class="product-page__table-elem--bold">3930</td>
                        </tr>
                        <tr class="product-page__table-row">
                            <td class="product-page__table-elem">Доп. гидролинии навесного оборудования:</td>
                            <td class="product-page__table-elem--bold">дополнительно</td>
                        </tr>
                    </tbody>
                </table>
                <button>Доставка и оплата</button>
            </section>
        </div>
    </div>
    <section class="product-page__descr">
        <h2 class="product-page__descr-title">Описание:</h2>
        <p>
            Фронтальный погрузчик XGMA XG931N маневренная и высокопроизводительная машина. При крупных габаритах и
            весе 10 тонн, развивает скорость до 38 км.ч.
        </p>
        <p>
            В базовой комплектации — ковш с зубьями из высокопрочной стали объёмом 2 кубических метра. Максимальная
            высота разгрузки достигает 4-х метров. Производитель делает акцент на улучшенной структуре ковша, его
            высокой заполняемости; наличии на ковше увеличенного дефлектора, который предотвращает просыпание
            материала.
        </p>
        <p>
            В стандартной комплектации погрузчик XG931N оснащен двигателем Yuchai, по лицензии немецкого завода FEV.
        </p>
        <p>
            Среди технических преимуществ: автоматическая коробка с понижающей передачей — незаменимая функция при
            планировке территории и толкании груза. Полный привод, обеспечивающий отличные тяговые и проходимые
            характеристики. Гидравлический насос с приоритетным клапаном, позволяющий работать без подгазовки при
            подъеме груза, и экономить 10- 30 % топлива.
            Дополнительно погрузчик может быть оснащен системой холодного пуска, специально предназначенной для
            работы в холодных регионах, которая гарантирует уверенный запуск двигателя даже при экстремально низких
            температурах.
        </p>
        <p>
            Решения инженеров XGMA по безопасности и рабочему пространству оператора: просторная кабина и улучшенный
            круговой обзор, джойстиковое управление, аудиосистема, кондиционер, шумоизоляция, дополнительное
            освещение и много других плюсов, позволяющих сделать работу на этой машине максимально комфортной и
            эффективной.
        </p>
        <p>
            Погрузчик XGMAXG931N можно задействовать в строительстве, работах на карьерах, в сельском и коммунальных
            хозяйствах, в добычной и лесной промышленностях. Широкий выбор дополнительного навесного оборудования
            делает машину универсальной.
        </p>
    </section>
</div>