<article class="swiper-slide product">
    <a class="product__preview" href="/product.html">
        <img class="product__img" src="./img/cart-image.jpg" alt="cart elem">
    </a>
    <div class="product__body">
        <div class="product__content">
            <h3 class="product__title">
                    XGMA XG931N
            </h3>
            <p class="product__cat">
                ФРОНТАЛЬНЫЙ ПОГРУЗЧИК
            </p>
            <table class="product__table">
                <tr  class="product__table-row">
                    <td>Эксплуатационная масса:</td>
                    <td>10,4</td>
                </tr>
                <tr  class="product__table-row">
                    <td>Грузоподъёмность:</td>
                    <td>3,1</td>
                </tr>
                <tr  class="product__table-row">
                    <td>Объём ковша:</td>
                    <td>2м3</td>
                </tr>
                <tr  class="product__table-row">
                    <td>Привод:</td>
                    <td>полный</td>
                </tr>
            </table>
        </div>
        <a class="btn-blue product__btn" href="#">УТОЧНИТЬ ЦЕНУ</a>
        <a class="btn-dark product__btn" href="#">купить в лизинг</a>
        <a class="product__more" href="/product.html">Подробнее</a>
    </div>
</article>
<article class="swiper-slide product">
    <a class="product__preview" href="/product.html">
        <img class="product__img" src="./img/cart-image.jpg" alt="cart elem">
    </a>
    <div class="product__body">
        <div class="product__content">
            <h3 class="product__title">
                XGMA XG931N
            </h3>
            <p class="product__cat">
                ФРОНТАЛЬНЫЙ ПОГРУЗЧИК
            </p>
            <table class="product__table">
                <tr  class="product__table-row">
                    <td>Эксплуатационная масса:</td>
                    <td>10,4</td>
                </tr>
                <tr  class="product__table-row">
                    <td>Грузоподъёмность:</td>
                    <td>3,1</td>
                </tr>
            </table>
        </div>
        <a class="btn-blue product__btn" href="#">УТОЧНИТЬ ЦЕНУ</a>
        <a class="btn-dark product__btn" href="#">купить в лизинг</a>
        <a class="product__more" href="/product.html">Подробнее</a>
    </div>
</article>