<section class="product-novelty">
  <div class="product-novelty__top">
    <h2 class="title-small product-novelty__title">Новинки</h2>
    <div class="product-novelty__nav">
      <button class="product-novelty__nav-prev nav-prev">
        <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.718525 6.67331L6.59499 0.761215C6.96881 0.384941 7.57488 0.384941 7.94851 0.761216C8.32218 1.13716 8.32218 1.74689 7.94851 2.1228L2.74875 7.35411L7.94836 12.5852C8.32202 12.9613 8.32202 13.571 7.94836 13.9469C7.5747 14.323 6.96865 14.323 6.59484 13.9469L0.718373 8.03475C0.531542 7.84669 0.438232 7.60047 0.438232 7.35414C0.438232 7.10768 0.531724 6.86128 0.718525 6.67331Z"
            fill="#262626" />
        </svg>
      </button>
      <button class="product-novelty__nav-next nav-next">
        <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.28147 8.0347L2.40501 13.9468C2.03119 14.3231 1.42512 14.3231 1.05149 13.9468C0.677822 13.5708 0.677822 12.9611 1.05149 12.5852L6.25125 7.3539L1.05164 2.12278C0.677975 1.74669 0.677976 1.13701 1.05164 0.761073C1.4253 0.384981 2.03135 0.384981 2.40516 0.761073L8.28163 6.67326C8.46846 6.86132 8.56177 7.10754 8.56177 7.35387C8.56177 7.60033 8.46828 7.84673 8.28147 8.0347Z"
            fill="white" />
        </svg>
      </button>
    </div>
  </div>
  <div class="swiper product-novelty__slider">
    <div class="swiper-wrapper product-novelty__track">
      <article class="swiper-slide product-novelty__elem">
        <div class="swiper product-novelty__fade">
          <div class="swiper-wrapper">
            <a href=# class="swiper-slide product-novelty__preview">
              <img class="product-novelty__img" src="./img/news/news2.jpg" alt="preview" loading="lazy">
              <span class="swiper-lazy-preloader"></span>
            </a>
            <a href=# class="swiper-slide product-novelty__preview">
              <img class="product-novelty__img" src="./img/product-page-slider/item1.jpg" alt="preview" loading="lazy">
              <span class="swiper-lazy-preloader"></span>
            </a>
            <a href=# class="swiper-slide product-novelty__preview">
              <img class="product-novelty__img" src="./img/novelty/item1.jpg" alt="preview" loading="lazy">
              <span class="swiper-lazy-preloader"></span>
            </a>
          </div>
          <div class="product-novelty__pagination"></div>
        </div>
        <div class="product-novelty__elem-body">
          <h3 class="product-novelty__elem-title">XGMA XG931N</h3>
          <p class="product-novelty__elem-cat">фронтальный погрузчик</p>
          <table class="product-novelty__table">
            <tbody class="product-novelty__table-tbody">
              <tr class="product-novelty__table-row">
                <td class="product-novelty__table-elem">Эксплуатационная масса:</td>
                <td class="product-novelty__table-elem">10,4</td>
              </tr>
              <tr class="product-novelty__table-row">
                <td class="product-novelty__table-elem">Грузоподъёмность:</td>
                <td class="product-novelty__table-elem">3,1</td>
              </tr>
              <tr class="product-novelty__table-row">
                <td class="product-novelty__table-elem">Объём ковша:</td>
                <td class="product-novelty__table-elem">2м<sup>3</sup></td>
              </tr>
              <tr class="product-novelty__table-row">
                <td class="product-novelty__table-elem">Привод:</td>
                <td class="product-novelty__table-elem">полный</td>
              </tr>
            </tbody>
          </table>
          <div class="product-novelty__links">
            <button class="product-novelty__btn-price" href="#"><span>УЗНАТЬ ЦЕНУ</span></button>
            <a class="product-novelty__btn-lizing" href="#"><span>КУПИТЬ В ЛИЗИНГ</span></a>
          </div>
        </div>
      </article>
      {{#repeat 8}}
      <article class="swiper-slide product-novelty__elem">
        <a href=# class="product-novelty__preview">
          <img class="product-novelty__img" src="./img/novelty/item1.jpg" alt="preview" loading="lazy">
        </a>
        <div class="product-novelty__elem-body">
          <h3 class="product-novelty__elem-title">XGMA XG931N</h3>
          <p class="product-novelty__elem-cat">фронтальный погрузчик</p>
          <table class="product-novelty__table">
            <tbody class="product-novelty__table-tbody">
              <tr class="product-novelty__table-row">
                <td class="product-novelty__table-elem">Эксплуатационная масса:</td>
                <td class="product-novelty__table-elem">10,4</td>
              </tr>
              <tr class="product-novelty__table-row">
                <td class="product-novelty__table-elem">Грузоподъёмность:</td>
                <td class="product-novelty__table-elem">3,1</td>
              </tr>
              <tr class="product-novelty__table-row">
                <td class="product-novelty__table-elem">Объём ковша:</td>
                <td class="product-novelty__table-elem">2м<sup>3</sup></td>
              </tr>
              <tr class="product-novelty__table-row">
                <td class="product-novelty__table-elem">Привод:</td>
                <td class="product-novelty__table-elem">полный</td>
              </tr>
            </tbody>
          </table>
          <div class="product-novelty__links">
            <button class="product-novelty__btn-price" href="#"><span>УЗНАТЬ ЦЕНУ</span></button>
            <a class="product-novelty__btn-lizing" href="#"><span>КУПИТЬ В ЛИЗИНГ</span></a>
          </div>
        </div>
      </article>
      {{/repeat}}
    </div>
  </div>
</section>