<ul class="social">
    <li class="social__item">
        <a class="social__elem" href="#" aria-label="link to social page" title="go to social page"
            style="background-image: url('/img/icons/ya-dzen.svg')"></a>
    </li>
    <li class="social__item">
        <a class="social__elem" href="#" aria-label="link to social page" title="go to social page"
            style="background-image: url('/img/icons/youtube.svg')"></a>
    </li>
    <li class="social__item">
        <a class="social__elem" href="#" aria-label="link to social page" title="go to social page"
            style="background-image: url('/img/icons/telegram.svg')"></a>
    </li>
    <li class="social__item">
        <a class="social__elem" href="#" aria-label="link to social page" title="go to social page"
            style="background-image: url('/img/icons/vk.svg')"></a>
    </li>
    <li class="social__item">
        <a class="social__elem" href="#" aria-label="link to social page" title="go to social page"
            style="background-image: url('/img/icons/whatsup.svg')"></a>
    </li>
</ul>