<div class="top">
  <div class="container">
    <div class="top__body">
      <img src="/img/main-title.svg" alt="main title" />
      <h1 class="top__descr">Официальный дилер<br />по продажам спецтехники</h1>
      <form class="top__form">
        <p class="top__form-descr">
          Оставьте заявку и мы свяжемся с вами, чтобы рассказать об акционных
          предложениях декабря
        </p>
        <div class="top__form-row">
          <input
            type="text"
            class="top__form-input top__form-input--3"
            placeholder="Имя"
          />
          <input
            type="text"
            class="top__form-input top__form-input--7"
            placeholder="Телефон"
          />
        </div>
        <div class="top__form-row">
          <input
            type="text"
            class="top__form-input top__form-input--7"
            placeholder="Email"
          />
          <button class="top__form-btn btn-blue" type="submit">
            Отправить
          </button>
        </div>
        <label class="top__form-policy">
          <input type="checkbox" />
          <span
            >Нажимая кнопку «Отправить», Вы соглашаетесь с политикой
            конфиденциальности и правилами обработки персональных данных</span
          >
        </label>
      </form>
      <ul class="top__brands">
        <li class="top__brands-elem">
          <a href="#">
            <img src="/img/brands/xgma.png" alt="brand" />
          </a>
        </li>
        <li class="top__brands-elem">
          <a href="#">
            <img src="/img/brands/wacker-neuson.png" alt="brand" />
          </a>
        </li>
        <li class="top__brands-elem">
          <a href="#">
            <img src="/img/brands/lonking.png" alt="brand" />
          </a>
        </li>
        <li class="top__brands-elem">
          <a href="#">
            <img src="/img/brands/weidemann.png" alt="brand" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
