.header {
  // position: sticky;
  // z-index: 2;
  // top: 0;

  &__top {
    background-color: $light-black;
    color: #b4b4b4;
    padding: 16px 0 10px;
  }

  &__bottom {
    background-color: $dark-black;
    color: #fff;
    padding: 20px 0 33px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__address,
  &__time {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: lowercase;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
  }

  &__address::before {
    content: "";
    width: 14px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/icons/address-point.svg");
  }

  &__time::before {
    content: "";
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/icons/clock.svg");
  }

  &__logo {
    display: block;
    & img {
      display: block;
    }
  }

  &__logo:focus-visible {
    outline: 1px solid #fff;
  }

  &__catalog-link {
    font-size: 24px;
    line-height: 1.4;
    color: #faf6f2;
    text-decoration: none;
    margin: 0px 8px 0 48px;

    &:hover {
      color: $burger-color;
    }
  }

  &__catalog-link:focus-visible {
    outline: 1px solid #fff;
  }

  &__catalog-burger {
    padding: 0;
    display: block;
    border: none;
    background-color: transparent;
    margin-top: 4px;

    & svg {
      display: block;
    }
  }

  &__catalog-burger:focus-visible {
    outline: 1px solid #fff;
  }

  &__form {
    margin: 0px 0px 0px 35px;
    width: 100%;
    max-width: 700px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 11px;
      width: 28px;
      height: 28px;
      background-image: url("../img/icons/search.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      pointer-events: none;
    }
  }

  &__search {
    padding: 10px 40px 10px 48px;
    border: none;
    background-color: $light-black;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    display: block;
    border-radius: 100px;
    caret-color: #fff;
  }

  &__search::placeholder {
    color: #636b78;
  }

  &__search:focus {
    outline-offset: 3px;
    outline: 2px solid #fff;
  }

  &__search:-webkit-autofill {
    -webkit-text-fill-color: #fff;
  }

  &__search::-webkit-search-cancel-button {
    appearance: none;
    display: none;
  }

  &__form-close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: none;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 28px;
    height: 28px;
    background-image: url("../img/icons/close-search-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__search:-webkit-autofill + &__form-close,
  &__search:not(:placeholder-shown) + &__form-close {
    display: block;
  }

  &__form-close:focus-visible {
    outline-offset: 2px;
    outline: 1px solid #fff;
  }

  &__nav {
    margin-top: 24px;

    & ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      gap: 30px;
      margin: 0;
    }

    & a {
      font-size: 14px;
      line-height: 1.2;
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $light-blue;
      }

      &:focus-visible {
        outline: 1px solid #fff;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  &__email,
  &__tel {
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 1.2;
    &:focus-visible {
      outline: 1px solid #fff;
    }
  }

  &__email {
    letter-spacing: 1px;
  }

  &__email::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5 3.73391L10.7343 8.99822L10.3135 9.2835L9.89264 8.99822L1.5 3.3089V15H18.5V3.73391ZM2.24241 2L10.3135 7.47133L18.3845 2H2.24241ZM0 0.5H1.5H18.5H20V2V2.61367L20.048 2.68451L20 2.71707V15V16.5H18.5H1.5H0V15V2V0.5Z' fill='%23FAF6F2'/%3E%3C/svg%3E ");
  }

  &__tel::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 3.37753L4.30288 1.00627C4.30288 1.00627 4.39654 0.906274 5.00967 1.50499C5.6228 2.10371 7.73825 4.86252 7.73825 4.86252L7.01421 7.88282L12.633 13.4993L15.6524 12.7763L18.9923 15.2441L19.5089 16.2115L17.1375 19.5142L13.5132 19.4803L1.03389 7.00169L1 3.37753Z' stroke='%23FAF6F2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
  }

  &__email:hover,
  &__tel:hover {
    color: $light-blue;
  }

  &__email:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5 3.73391L10.7343 8.99822L10.3135 9.2835L9.89264 8.99822L1.5 3.3089V15H18.5V3.73391ZM2.24241 2L10.3135 7.47133L18.3845 2H2.24241ZM0 0.5H1.5H18.5H20V2V2.61367L20.048 2.68451L20 2.71707V15V16.5H18.5H1.5H0V15V2V0.5Z' fill='%2382bfe0'/%3E%3C/svg%3E ");
  }

  &__tel:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 3.37753L4.30288 1.00627C4.30288 1.00627 4.39654 0.906274 5.00967 1.50499C5.6228 2.10371 7.73825 4.86252 7.73825 4.86252L7.01421 7.88282L12.633 13.4993L15.6524 12.7763L18.9923 15.2441L19.5089 16.2115L17.1375 19.5142L13.5132 19.4803L1.03389 7.00169L1 3.37753Z' stroke='%2382bfe0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
  }

  &__social {
    padding-left: 5px;
  }
}
