.news {
  background-color: $light-black;
  border-radius: 25px;
  padding: 84px 0 132px;

  &__top {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    gap: 14px;
    margin-top: 40px;
  }

  &__nav-prev,
  &__nav-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 6px;
    border: none;
  }

  &__nav-prev {
    background-color: #fff;

    &:focus-visible,
    &:hover {
      outline-offset: 2px;
      outline: 2px solid #fff;
    }
  }

  &__nav-next {
    background-color: $light-blue;

    &:focus-visible,
    &:hover {
      outline-offset: 2px;
      outline: 2px solid $light-blue;
    }
  }

  &__title {
    font-size: 64px;
    color: #fff;
    font-weight: 400;
    font-family: "Radiotechnika", sans-serif;
    margin: 0 0 72px 0;

    &--blue {
      color: $light-blue;
    }
  }

  &__slider:not(.swiper-initialized) &__elem {
    width: calc(25% - 45px);
    margin-right: 60px;
  }

  &__elem {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    height: unset;
  }

  &__elem-img {
    border-radius: 20px 20px 0 0;
    aspect-ratio: 310 / 231;
    width: 100%;
  }

  &__elem-body {
    padding: 20px 34px 34px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__elem-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    min-height: 3.6em;
  }

  &__descr {
    margin: 12px 0 25px;
    font-size: 14px;
    line-height: 1.2;
  }

  &__elem-time {
    font-size: 14px;
    margin-top: auto;
  }

  &__elem-btn {
    padding: 16px;
    margin-top: 12px;
  }
}
