.product-brands {
  &__wrapper {
    border-radius: 20px;
    padding: 26px 30px;
    margin: 60px auto;
    background-color: #fff;
    border-radius: 25px;
  }

  &__title {
    margin: 0 auto;
  }
}
