.social {
  padding-left: 0;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 10px;

  &__elem {
    display: block;
    width: var(--size-icon, 25px);
    height: var(--size-icon, 25px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: var(--icon-decor);
    &:focus-visible {
      outline: 1px solid #fff;
    }

    &:hover {
      background-image: var(--icon-hover);
    }
  }
}
