.top {
  background-color: $light-black;
  color: #fff;
  min-width: 0;

  &__wrapper {
    background-image: url("../img/top-decor-big.jpg");
    background-repeat: no-repeat;
    background-position: bottom right -10px;
    background-size: 100% auto;
    padding-top: 67px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  &__wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 100%;
    background-image: linear-gradient(to left, $light-black, transparent);
    // box-shadow: 0 0 5px 10px $light-black;
  }

  &__descr {
    font-family: "Radiotechnika", sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin: 40px 0 23px;
  }

  &__form {
    max-width: 400px;
  }

  &__form-descr {
    margin: 0 0 35px;
  }

  &__form-row {
    display: flex;
    margin-bottom: 11px;
    gap: 10px;
  }

  &__form-input {
    display: block;
    min-width: 0;
    width: unset;
    min-height: 45px;
    &--3 {
      flex: 156;
    }

    &--7 {
      flex: 227;
    }
  }

  &__form-btn {
    flex: 156;
    line-height: 24px;
    text-transform: uppercase;
    background-color: $form-btn-top;
    color: #fff;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding: 7px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: 300ms background-color;
    text-decoration: none;

    &:hover {
      background-color: $dark-blue;
    }

    &:focus-visible {
      outline: 2px solid #fff;
      outline-offset: 2px;
    }
  }

  &__form-policy {
    margin: 20px 0 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #fff;
    font-size: 10px;

    & span {
      opacity: 0.5;
      vertical-align: middle;
    }

    & input {
      width: 10px;
      height: 10px;
      padding: 0;
      border-radius: 2px;
      appearance: none;
      display: inline-block;
      vertical-align: middle;
      margin-right: 2px;

      &:focus-visible,
      &:hover {
        outline: 1px solid #fff;
        outline-offset: 1px;
      }

      &:checked {
        background-color: $light-blue;
      }
    }
  }

  &__brands {
    width: fit-content;
    padding-left: 0;
    margin: 50px 0 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: min(135px, 10vw);
  }

  &__brands-link,
  &__brands-img {
    display: block;
  }

  &__brands-link {
    transition: transform 100ms;

    &:focus-visible {
      outline: 2px solid #fff;
      outline-offset: 2px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
