$transparent-black: #525c68;
$light-black: #363f49;
$dark-black: #272e36;
$dark-medium: #29323d;
$transparent-blue: #b2e4ff;
$light-blue: #82bfe0;
$form-btn-top: #9dddff;
$dark-blue: #0e8dd1;
$burger-color: #2d9fd3;
